/* ---- blog page ---- */

section {
    width: 50%;
    position: inherit;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img {
    max-width: 50%;
    height: 70%;
    position: relative;
    right: 3%;
}

.blogArticle {
    max-width: 50%;
    margin-left: 1%;
    position: inherit;
    left: 1%;
    margin-bottom: 1%;
}

.blogSection {
    max-width: 50%;
    margin-left: 1%;
    position: relative;
    left: 40%;
    top: 50%;
    margin-bottom: 1%;
}

.blogPosts {
    margin-left: 1%;
}


/* css gebruikt in de posts */

.post {
    text-align: center;
    max-width: 50%;
    margin: 1%;
}

.post img {
    max-width: 50%;
    height: 70%;
    position: relative;
    right: 3%;
}

.damen {
    width: 500%;
}