/* ---- FAQ page ---- */
.faq-main {
    margin-bottom:70px;
    margin-left:1%;
    border:solid;
    border-color:orange;
    border-width: .3em;
    border-radius:20px;
    width:50%;
    background-color:lightgray;
}

.faq-aside {
    position:absolute;
    top:20%;
    margin-bottom:70px;
    margin-left:1%;
    border:solid;
    border-color:orange;
    border-width: .3em;
    border-radius:20px;
    width:30%;
    background-color:lightgray;
}
